In [4]:
from financetoolkit import Toolkit, Discovery
import pandas as pd
from datetime import datetime
API_KEY = "DZvlZlf0Q0sDAwwwh59Z90CVB05FjQlS"

In [5]:
##### Discovery
# Initialize the Discovery module
discovery = Discovery(api_key=API_KEY)

In [6]:
# search ticker
#discovery.search_instruments("Apple")

In [10]:
# Screener
screen = discovery.get_stock_screener(
    market_cap_higher=20000000,
    market_cap_lower=200000000000,
    price_higher=50,
    price_lower=200,
    beta_higher=1,
    beta_lower=1.5,
    volume_higher=100000,
    volume_lower=2000000,
    dividend_higher=5,
    dividend_lower=20,
    is_etf=False,
)

In [12]:
screen.sort_values(by= 'Dividend', ascending=False)

,Name,Market Cap,Sector,Industry,Beta,Price,Dividend,Volume,Exchange,Exchange Code,Country,isFund
Symbol,,,,,,,,,,,,
TBK,"Triumph Financial, Inc.",1356377088,Financial Services,Banks - Regional,1.132027,58.74,17.810,179571,NASDAQ Global Select,NASDAQ,US,False
RXN,Zurn Water Solutions Corporation,11435746500,Utilities,Regulated Water,1.383597,64.95,11.571,1305057,New York Stock Exchange,NYSE,US,False
CTC-A.TO,"Canadian Tire Corporation, Limited",7770746750,Consumer Cyclical,Specialty Retail,1.370000,133.86,7.000,273887,Toronto Stock Exchange,TSX,CA,False
WHR,Whirlpool Corporation,6281658614,Consumer Cyclical,"Furnishings, Fixtures & Appliances",1.474000,115.34,7.000,667328,New York Stock Exchange,NYSE,US,False
BAP,Credicorp Ltd.,13752863652,Financial Services,Banks - Regional,1.097000,172.92,6.770,166313,New York Stock Exchange,NYSE,PE,False
CPA,"Copa Holdings, S.A.",4275971960,Industrials,"Airlines, Airports & Air Services",1.383000,101.74,6.440,190432,New York Stock Exchange,NYSE,PA,False
PNC,"The PNC Financial Services Group, Inc.",62603044960,Financial Services,Banks - Regional,1.154000,157.37,6.200,1668106,New York Stock Exchange,NYSE,US,False
GFC.PA,Gecina,6911498884,Real Estate,REIT - Office,1.051000,93.55,5.300,138595,Paris,EURONEXT,FR,False
DRI,"Darden Restaurants, Inc.",18661779650,Consumer Cyclical,Restaurants,1.257000,156.35,5.240,1207020,New York Stock Exchange,NYSE,US,False
PRU,"Prudential Financial, Inc.",41539890000,Financial Services,Insurance - Life,1.348000,115.71,5.200,771808,New York Stock Exchange,NYSE,US,False
CBRL,"Cracker Barrel Old Country Store, Inc.",1425976653,Consumer Cyclical,Restaurants,1.431000,64.23,5.200,841543,NASDAQ Global Select,NASDAQ,US,False
ARE,"Alexandria Real Estate Equities, Inc.",21794523520,Real Estate,REIT - Office,1.063000,124.58,5.080,551070,New York Stock Exchange,NYSE,US,False
LYB,LyondellBasell Industries N.V.,34003519940,Basic Materials,Chemicals - Specialty,1.199000,104.78,5.000,1081619,New York Stock Exchange,NYSE,US,False

In [15]:
display(discovery.get_biggest_gainers().sort_values(by='Change',ascending=False).head(10))

display(discovery.get_biggest_losers().sort_values(by='Change',ascending=False).head(10))

display(discovery.get_most_active_stocks().sort_values(by='Change',ascending=False).head(10))

                                   Name  Change  Price  Change %
Symbol
DXYZ               Destiny Tech100 Inc.  25.660  59.20   76.5057
ROOT                         Root, Inc.  11.970  82.90   16.8758
ZOOZ    ZOOZ Power Ltd. Ordinary Shares   4.100   4.10   14.5251
BTTR         Better Choice Company Inc.   3.465   7.74   81.0526
GRIN    Grindrod Shipping Holdings Ltd.   3.130  13.65   29.7528
MDIA               MediaCo Holding Inc.   2.480   3.88  177.1429
GCTS    GCT Semiconductor Holding, Inc.   2.430   8.16   42.4084
XXII           22nd Century Group, Inc.   2.080   3.56  140.5405
SWVL                Swvl Holdings Corp.   1.870  17.19   12.2063
NPCE                    NeuroPace, Inc.   1.780  14.48   14.0157

                          Name  Change    Price  Change %
Symbol
NUTX        Nutex Health, Inc. -0.0110  0.07860  -12.2768
USDP           USD Partners LP -0.0214  0.11258  -15.9663
MARK     Remark Holdings, Inc. -0.0234  0.17490  -11.8003
SLNA    Selina Hospitality PLC -0.0249  0.05510  -31.1250
OTRK              Ontrak, Inc. -0.0507  0.33930  -13.0000
VHAI    Vocodia Holdings Corp. -0.0510  0.39700  -11.3839
CYAN     Cyanotech Corporation -0.0601  0.29000  -17.1665
VLCN              Volcon, Inc. -0.0640  0.32610  -16.4061
WLGS    WANG & LEE GROUP, Inc. -0.0647  0.51030  -11.2522
CUEN              Cuentas Inc. -0.0650  0.28500  -18.5714

                                               Name  Change   Price  Change %
Symbol
NVDA                             NVIDIA Corporation   21.03  880.08    2.4481
SPY                          SPDR S&P 500 ETF Trust    5.36  518.43    1.0447
QQQ                               Invesco QQQ Trust    5.13  440.47    1.1784
AMZN                               Amazon.com, Inc.    5.07  185.07    2.8167
AMD                    Advanced Micro Devices, Inc.    4.59  170.42    2.7679
MDIA                           MediaCo Holding Inc.    2.48    3.88  177.1429
XXII                       22nd Century Group, Inc.    2.08    3.56  140.5405
TQQQ                         ProShares UltraPro QQQ    2.04   59.86    3.5282
SOXL    Direxion Daily Semiconductor Bull 3X Shares    1.25   43.62    2.9502
GDX                          VanEck Gold Miners ETF    1.06   33.84    3.2337

In [16]:
tickers = discovery.get_stock_screener(
    market_cap_higher=1000000,
    market_cap_lower=200000000000,
    price_higher=100,
    price_lower=200,
    beta_higher=1,
    beta_lower=1.5,
    volume_higher=100000,
    volume_lower=2000000,
    dividend_higher=1,
    dividend_lower=2,
    is_etf=False,
).index.tolist()

companies = Toolkit(tickers=tickers, api_key=API_KEY)

companies.get_historical_data()

Obtaining historical data: 100%|███████████████████████████████████████████████████████| 28/28 [00:10<00:00,  2.67it/s]

             Open                                                          \
             ROST    AME    XYL    RJF   STLD   NTAP    WLK   JBHT    RPM
date
2014-04-09   35.9   50.9  36.21  34.72  18.63  37.02  64.53  72.53  41.57
2014-04-10  35.63  50.81  37.12  34.88  18.71  37.43  65.77  72.84  42.43
2014-04-11   34.8  49.58  35.97  33.27  18.35   36.2  63.25  71.75   41.3
2014-04-14  34.78  50.89  35.45  33.28  18.56  36.28  63.05  73.61   41.2
2014-04-15  34.81  50.75  35.12  32.99  18.78   37.0  62.52  74.83  41.75
...           ...    ...    ...    ...    ...    ...    ...    ...    ...
2024-04-01 146.43 182.99 129.25  128.2  149.0 104.73 152.91 196.95 118.93
2024-04-02 144.39 180.73 128.76 128.35 149.01 104.21 153.82 195.69 117.58
2024-04-03 143.68 180.38 127.68 128.62 147.76 104.33 155.87 194.76 116.67
2024-04-04 142.95 182.36 129.69  130.7  148.6 107.41 159.02 197.52 115.57
2024-04-05 140.14 180.64 127.41 127.88 146.15 105.35 156.79 194.52 112.06

                   ... Cumulative Return                                     \
             TFII  ...              OLED    MSA    AIT   UFPI   HLNE   WTFC
date               ...
2014-04-09   22.3  ...               1.0    1.0    1.0    1.0    NaN    1.0
2014-04-10  22.25  ...            0.9613 0.9911 0.9849 0.9666    NaN 0.9719
2014-04-11  21.78  ...            0.9551 0.9847 0.9756 0.9595    NaN 0.9744
2014-04-14  21.73  ...            0.9602 0.9928 0.9778 0.9583    NaN 0.9798
2014-04-15  21.73  ...            0.9691 1.0004  0.977 0.9428    NaN 0.9746
...           ...  ...               ...    ...    ...    ...    ...    ...
2024-04-01  160.3  ...            5.7055 4.0587 4.7712 7.1454 7.1157 2.5145
2024-04-02 158.12  ...             5.639 4.0551 4.6982 7.0572  7.071 2.4626
2024-04-03 157.56  ...            5.6253 4.0787  4.768 7.2431 7.2379 2.4501
2024-04-04  158.3  ...            5.5763 4.0546 4.7438 7.0447 7.0934 2.4406
2024-04-05 157.62  ...            5.5852 4.1414 4.7893 7.0805 7.2104 2.4572


              CHH    AWI   MATX Benchmark
date
2014-04-09    1.0    1.0    1.0       1.0
2014-04-10 0.9781 0.9852 0.9869     0.979
2014-04-11 0.9721 0.9868 0.9803    0.9702
2014-04-14 0.9771 0.9941  1.004    0.9778
2014-04-15 0.9832 0.9907  1.004    0.9846
...           ...    ...    ...       ...
2024-04-01 3.0493 2.4274 5.6261    3.3397
2024-04-02 2.9539 2.3713 5.4255    3.3185
2024-04-03 2.9307 2.4138 5.6104    3.3221
2024-04-04 2.9749 2.3715 5.5634    3.2815
2024-04-05 3.0111 2.3961 5.6301    3.3158

[2515 rows x 336 columns]

In [17]:
### Ratios
Tickers = ['RIVN', 'SPCE', 'ACHR', 'JOBY']
companies_growth = Toolkit(tickers=tickers, api_key=API_KEY)
ratios_df = companies_growth.ratios.collect_all_ratios()

Obtaining financial statements: 100%|████████████████████████████████████████████████████| 3/3 [00:25<00:00,  8.36s/it]

In [18]:
display(ratios_df)

                                           2018        2019         2020  \
AGCO Days of Inventory Outstanding          NaN         NaN     104.2964
     Days of Sales Outstanding              NaN         NaN      33.0406
     Operating Cycle                        NaN         NaN     137.3369
     Days of Accounts Payable Outstanding   NaN         NaN      45.5439
     Cash Conversion Cycle                  NaN         NaN       91.793
...                                         ...         ...          ...
XYL  EV-to-EBIT                             NaN     31.3928      52.3737
     EV-to-EBITDA                           NaN     15.9607      25.4146
     EV-to-Operating-Cash-Flow              NaN     18.0724      23.0088
     Tangible Asset Value                   NaN 128000000.0  122000000.0
     Net Current Asset Value                NaN 949000000.0 1567000000.0

                                                  2021         2022  \
AGCO Days of Inventory Outstanding             97.3241      109.374
     Days of Sales Outstanding                 30.2711      31.9203
     Operating Cycle                          127.5952     141.2943
     Days of Accounts Payable Outstanding      41.1914      46.5909
     Cash Conversion Cycle                     86.4038      94.7034
...                                                ...          ...
XYL  EV-to-EBIT                                37.9053      42.2652
     EV-to-EBITDA                              26.5835      27.4668
     EV-to-Operating-Cash-Flow                 41.3576      34.7482
     Tangible Asset Value                  434000000.0  784000000.0
     Net Current Asset Value              1769000000.0 1422000000.0

                                                  2023
AGCO Days of Inventory Outstanding            113.3556
     Days of Sales Outstanding                 35.7924
     Operating Cycle                           149.148
     Days of Accounts Payable Outstanding       44.324
     Cash Conversion Cycle                     104.824
...                                                ...
XYL  EV-to-EBIT                                37.1598
     EV-to-EBITDA                              22.6576
     EV-to-Operating-Cash-Flow                  31.699
     Tangible Asset Value                 2589000000.0
     Net Current Asset Value              1679000000.0

[1809 rows x 6 columns]